<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="../../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="../../css/home.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top my-nav">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand my-font large-font" href="#">
                    SIMPLE FLIGHT
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="my-font">Wish You Simple Flight Simple Trip</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

</body>
</html>