<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="../../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="../../plugins/datePicker/css/bootstrap-combined.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../plugins/datePicker/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" type="text/css" href="../../css/home.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top my-nav">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="navbar-header">
                <a class="navbar-brand my-font large-font" href="#">
                    SIMPLE FLIGHT
                </a>
            </div>
            <!--<hr>-->
        </div>
    </div>


    <div class="container filter-part">
        <div class="col-lg-10 col-lg-offset-1">
            <form role="form">
                <div class="form-group">
                    <div class="input-group city ">
                        <span class="my-font">出发城市：</span>
                        <select class="my-input my-font" name="departCity">
                            <option>北京</option>
                            <option>上海</option>
                            <option>广州</option>
                            <option>深圳</option>
                            <option>成都</option>
                            <option>长沙</option>
                            <option>厦门</option>
                            <option>南京</option>
                            <option>昆明</option>
                            <option>大连</option>
                        </select>
                    </div>
                    <div class="input-group city my-right">
                        <span class="my-font">到达城市：</span>
                        <select class="my-input my-font" name="arrivingCity">
                            <option>南京</option>
                            <option>上海</option>
                            <option>北京</option>
                            <option>广州</option>
                            <option>深圳</option>
                            <option>成都</option>
                            <option>长沙</option>
                            <option>厦门</option>
                            <option>昆明</option>
                            <option>大连</option>
                        </select>
                    </div>

                    <div class="input-group" style="margin-top:15px;">
                        <span class="my-font">出发日期：</span>
                        <div class="input-append date my-date-picker my-date">
                            <input class="my-date-input" type="text" name="endDate" style="height:30px;width:222px;" />
                            <span class="add-on" style="height:30px;">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>

                    </div>




                    <div class="input-group" style="margin-top:15px;">
                        <span class="my-font">航空公司：</span>
                        <div style="display: inline;position: relative;top:-3px;">
                            <a class="btn btn-default select-all common-font">不限</a>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> 东方航空
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option1"> 南方航空
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option1"> 上海航空
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox4" value="option1"> 中航航空
                            </label>
                        </div>

                        <button class="btn btn-info query-btn my-right" type="submit" style="display:inline">查询</button>
                    </div>
                </div>
            </form>

            <!--<div class="input-group search-part">-->
                <!--<input type="text" class="form-control" placeholder="搜索活动类型或活动名">-->
                <!--<span class="input-group-addon"><i class="icon-search icon-large"></i></span>-->
            <!--</div>-->
        </div>

    </div>
</nav>

<script src="../../plugins/jquery/jquery-3.1.1.min.js"></script>
<script src="../../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../../plugins/datePicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $('.my-date-picker').datetimepicker({
        format: 'yyyy-MM-dd',
        language: 'en',
        pickDate: true,
        pickTime: false,
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: true
    })
</script>

</body>
</html>