<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>

    <link rel="stylesheet" type="text/css" href="../../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
    <link href="../../plugins/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../plugins/datePicker/css/bootstrap-combined.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../plugins/datePicker/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" type="text/css" href="../../css/home.css">

</head>
<body>

    <div class="container">
            <div class="col-lg-12">
                <div class="col-lg-12 ">
                    <div class="navbar-header">
                        <a class="navbar-brand my-font large-font" href="#">
                            SIMPLE FLIGHT
                        </a>
                    </div>
                    <hr class="col-lg-12">
                </div>
            </div>

            <div class="col-lg-12 filter-part">
                <div class="col-lg-12 ">
                    <form role="form">
                        <div class="form-group">
                            <div class="input-group city ">
                                <span class="my-font">出发城市：</span>
                                <select class="my-input my-font" id="departCity">
                                    <option>北京</option>
                                    <option>上海</option>
                                    <option>广州</option>
                                    <option>深圳</option>
                                    <option>成都</option>
                                    <option>长沙</option>
                                    <option>厦门</option>
                                    <option>南京</option>
                                    <option>昆明</option>
                                    <option>大连</option>
                                </select>
                            </div>
                            <div class="input-group city my-right">
                                <span class="my-font">到达城市：</span>
                                <select class="my-input my-font" id="arrivingCity">
                                    <option>南京</option>
                                    <option>上海</option>
                                    <option>北京</option>
                                    <option>广州</option>
                                    <option>深圳</option>
                                    <option>成都</option>
                                    <option>长沙</option>
                                    <option>厦门</option>
                                    <option>昆明</option>
                                    <option>大连</option>
                                </select>
                            </div>

                            <div class="input-group" style="margin-top:15px;">
                                <span class="my-font">出发日期：</span>
                                <div class="input-append date my-date-picker my-date">
                                    <input class="my-date-input" type="text" id="departDate" style="height:30px;width:222px;" />
                                    <span class="add-on" style="height:30px;">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>

                            </div>


                            <div class="input-group" style="margin-top:15px;">
                                <span class="my-font">航空公司：</span>
                                <div style="display: inline;position: relative;top:-2px;">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="all" value="all"> 不限
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="f-company" id="dongFang" value="MU"> 东方航空
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="f-company" id="nanFang" value="CZ"> 南方航空
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="f-company" id="zhongGuo" value="CA"> 中国航空
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"  name="f-company" id="chunqiu" value="9C"> 国泰航空
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="f-company" id="haiNan" value="HU"> 海南航空
                                    </label>
                                </div>

                                <a class="btn btn-info query-btn my-right" style="display:inline" id="query">查询</a>
                                <a class="btn btn-info query-btn my-right" style="display:inline" id="predict">预测</a>
                            </div>
                        </div>
                    </form>
                    <div class="input-group search-part">
                        <input type="text" class="form-control" id="flightNum" placeholder="直接输入航班号查询">
                        <span class="btn btn-info btn-icon" id="btn-search"><span class="icon-search"></span></span>
                    </div>

                    <hr class="col-lg-12">
                </div>

            </div>

            <div class="col-lg-12 sort-part">
                <div class="sort-row col-lg-12 ">
                    <!--那就交给我了-->
                    <!--被你萌到了-->

                    <ul class="nav nav-tabs " style="margin-top: 1em">

                        <li><a href="javascript:void(0)" sorttype="punctual-rate" ischecked="false" isreverse="false" onclick="onclickFunction(this)" class="active">
                            准点率 &nbsp; <span class="glyphicon glyphicon-minus"></span></a></li>
                        <li><a href="javascript:void(0)" sorttype="lowest-price" ischecked="false" isreverse="false" onclick="onclickFunction(this)" class="active">
                            最低价 &nbsp;<span class="glyphicon glyphicon-minus"></span></a></li>

                        <li><a href="javascript:void(0)" sorttype="depart-time" ischecked="false" isreverse="false" onclick="onclickFunction(this)" class="active">
                            出发时间 &nbsp;  <span class="glyphicon glyphicon-minus"></span></a></li>
                        <li><a href="javascript:void(0)" sorttype="arriving-time" ischecked="true" isreverse="true" onclick="onclickFunction(this)" class="active">
                            到达时间 &nbsp;  <span class="glyphicon glyphicon-arrow-down"></span></a></li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-12 list-part" >
                <div class="col-lg-12  trip-list" id="list-part">
                    <div class="list-item">
                        <div class="trip-info">
                            <div class="company my-font col-lg-2">
                                <div class="company-name">航空公司啊</div>
                                <div class="flight-num">MU123456</div>
                            </div>
                            <div class="time-city col-lg-5 col-lg-offset-1">
                                <div class="time my-font large-font">
                                    <span class="depart-time" style="width:150px;">1:00</span>
                                    <img style="position:relative;top:10px;" src="../../img/flight_arrow.png">
                                    <span class="arriving-time" style="width:150px;">1:00</span>
                                </div>
                                <div class="list-city my-font">
                                    <span class="depart-city" style="width:150px;">上海国际机场</span>
                                    <span style="margin-left:100px;width:150px;" class="arriving-city">南京国际机场</span>

                                </div>
                            </div>
                            <div class="rate col-lg-1 grey-font">
                                <div>准点率</div>
                                <div class="punctual-rate">1.3%</div>
                            </div>
                            <div class="price col-lg-2 col-lg-offset-1">
                                <span class="price-font ">
                                    ￥
                                </span>
                                <span class="price-font lowest-price">1</span>
                                <span>起</span>
                            </div>
                        </div>

                        <div class="price-info">
                            <div class="grey-font col-lg-2" style="left:3%">价格信息：</div>

                            <ul class="price-list col-lg-10 col-lg-offset-1">
                                <li class="price-item col-lg-12 my-font">
                                    <span class="col-lg-3 platform">携程</span>
                                    <span class="col-lg-3">
                                        <span class="platform-price">￥<span class="p-price">720</span></span>起
                                    </span>
                                    <a class="col-lg-3 link" href="">去看看</a>
                                </li>
                                <li class="price-item col-lg-12 my-font">
                                    <span class="col-lg-3 platform">去哪儿</span>
                                    <span class="col-lg-3">
                                        <span class="platform-price">￥<span class="p-price">800</span></span>起
                                    </span>
                                    <span class="col-lg-3 note">note信息</span>
                                </li>
                                <a class="col-lg-2 btn btn-info btn-detail float-right" href="www.baidu.com">查看详情</a>

                            </ul>




                        </div>

                    </div>
                </div>
            </div>
    </div>

    <script src="../../plugins/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../plugins/datePicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $('.my-date-picker').datetimepicker({
            format: 'yyyy-MM-dd',
            language: 'en',
            pickDate: true,
            pickTime: false,
            hourStep: 1,
            minuteStep: 15,
            secondStep: 30,
            inputMask: true
        })
    </script>

    <script src="../../js/home.js"></script>

    <script>


    function planeSort(sortType, isReverse) {
        var tempList = [];
        var gridsFather = PlaneList.gridsFather;
        var originList = $(".list-item");

//            console.log(sortType);
//            console.log(gridsFather);
//            console.log(originList);

        for(var i=0; i<originList.length; i++) {
            console.log(originList.eq(i))
            tempList.push(originList.eq(i).clone())
        }
        console.log("sort==:")
        tempList.sort(function (a, b) {
//                console.log(a);
//                console.log(b);
//                console.log("\n");
            var elementA = a.find("."+sortType).eq(0).text().replace(/[^0-9]/g,'');;
            var elementB = b.find("."+sortType).eq(0).text().replace(/[^0-9]/g,'');;

            var result = (isReverse?-1:1) * (elementA-elementB);
//                console.log(elementA)
//                console.log(elementB)
//                console.log(result)
            return result;
        });
        gridsFather.empty();
        $.each(tempList, function (i, element) {
            gridsFather.append(element)
        })
    };

    function findCheckedSortType() {
        var type = undefined;
        $('.nav>li>a').each(
            function (i,n){
                var jq =  $(n);
                if(jq.attr("ischecked")=="true"){
                    type =  jq;
                }
            }
        );
        if(type==undefined){
            type = $('.nav>li>a');
        }
        return type;
    }

    function onclickFunction(obj) {
        var originCheck = findCheckedSortType();
        var originCheckType = originCheck.attr("sortType");
        var obj = $(obj);
        var nowCheckType = obj.attr('sortType');
        var isReverse  = undefined ;
        if(originCheckType==nowCheckType){
            if(obj.attr("isReverse")=="true"){
                obj.attr("isReverse" , "false");
                isReverse = false;
                obj.children("span").attr("class", "glyphicon glyphicon-arrow-up");
            }else{
                isReverse = true;
                obj.attr("isReverse" , "true");
                obj.children("span").attr("class",  "glyphicon glyphicon-arrow-down");
            };
        }else{
            isReverse = true;
            originCheck.attr("ischecked" ,"false");
            originCheck.children("span").attr("class",  "glyphicon glyphicon-minus");

            obj.attr("ischecked" , "true");
            obj.attr("isReverse" , "true");
            obj.children("span").attr("class",  "glyphicon glyphicon-arrow-down");
        }
        planeSort(nowCheckType, isReverse)
    }
</script>

</body>
</html>